:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #f57862;
  --second-brand-color: #85fff5;
  --third-brand-color: rgb(228, 228, 228);

  --main-font:  'Josefin Sans';
  --title-font:  'Josefin Sans Medium';
  --main-title-font: 'Josefin Sans Bold';

  font-size: 62.5%;
}
